<div id="footer-section">

                        <div class="footer-wrapper">
                        <footer class="main-footer">
                            <div class="footer-link-list footer">
                                <h3 class="footer-title">Footer Menu</h3>
                                <ul>
                                    <li>
                                        <a href="https://demo.spiff.com.au/search">Search</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-link-list social-icons">
                                <h3 class="footer-title">Find us online</h3>
                                <ul>
                                    <li class="social-link facebook"><a href="https://www.facebook.com/spiffcreate/" target="_blank">Facebook</a></li>
                                    <li class="social-link twitter"><a href="https://twitter.com/spiffcreate" target="_blank">Twitter</a></li>
                                    <li class="social-link pinterest"><a href="https://www.pinterest.com.au/spiffcreate/" target="_blank">Pinterest</a></li>
                                    <li class="social-link instagram"><a href="https://www.instagram.com/spiffcreate/" target="_blank">Instagram</a></li>
                                    <li class="social-link youtube"><a href="https://www.youtube.com/channel/UCo7afj8AGtEtYkObmmt1OZA" target="_blank">YouTube</a></li>
                                </ul>
                            </div>
                            <div class="spread-the-word">
                                <h3 class="footer-title">Help spread the word!</h3>
                                <p>Please help us spread the news about our awesome products.</p>
                                <a class="share-icon icon-tweet" href="//twitter.com/share?url=https://demo.spiff.com.au" target="_blank">Tweet</a>
                                <a class="share-icon icon-like" href="//www.facebook.com/sharer.php?u=https://demo.spiff.com.au" target="_blank">Share</a>
                                <a class="share-icon icon-pin" href="//pinterest.com/pin/create/button/?url=https://demo.spiff.com.au&amp;description=spiffdemo" target="_blank">Pin it</a>
                                <a class="share-icon icon-plus" href="//plus.google.com/share?url=https://demo.spiff.com.au" target="_blank">Add</a>
                                <a class="share-icon icon-fancy" href="//www.thefancy.com/fancyit?ItemURL=https://demo.spiff.com.au&amp;Title=spiffdemo" target="_blank">Fancy</a>
                            </div>
                            <div role="contentinfo" class="copyright footer-module">
                                <p> 
                                © 2020. All rights reserved.
                                <br><a href="https://www.pixelunion.net/" target="_blank">Startup Theme by Pixel Union</a>.
                                <a target="_blank" rel="nofollow" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by Shopify</a>.
                                </p>
                            </div>
                        </footer>
                    </div>
                    
</div>