
<div class="topnav">
    <a class="spiff-cor" href="https://spiff.com.au/">Spiff</a>
    <div class="button-wrapper">
        <a class="button cta-button" href="https://calendly.com/spiffhelp">Book a meeting</a>       
    </div>
  
  {% include 'partials/tntsearch.html.twig' with { in_page: true }%}
</div>