@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h1 {
    text-align: left;
    font-weight: 500;
    font-size: 42px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
    color: #1f1a47;
}

#body {
    margin-left: 290px;
}

body {
    font-family: Roboto;
    min-height: 100%;

    #breadcrumbs {
        padding-left: 0;

        span {
            padding: 0 0rem;
        }
    }

    a {
        color: rgb(218, 27, 92);
    
        a:hover {
            color: rgb(0, 0, 0);
        }
    }
}

#header {
    color: #fff;
    text-align: left;
    padding-bottom: 0;
    margin: 0 .7em;
}

#sidebar {
    background-color: white;
    width: 255px;
    border-right: 1px solid #d6d9db;
    height: 100%;

    .title-img {
        max-width: 120px;
     }

        a {
            line-height: 20px;
            font-size: 14px;
            min-height: 28px;
            color: #555;
            &:hover {
                color:  rgb(218, 27, 92);
            }
            &.subtitle {
                color: #555;
            }       
        }       
}

#sidebar-toggle {
    display: none;
}

#sidebar ul.topics {
    margin: 0 1.8em;
}

a {
	color: $core-accent;
	&:hover {
		color: rgb(218, 27, 92);
	}
}

#sidebar ul li.visited > a .read-icon {
    display: none;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: #ffffff;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li.active > a {
    background: #fff;
    color: #DA1B60 !important;
}

#sidebar ul.topics > li > a {
    line-height: 36px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #1f1a47;
}

#body .padding {
    padding-top: 15px;
    padding-left: 55px;
    padding-bottom: 33px;
}

#body-inner {
    min-width: 738px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 16px;
}