@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*:focus {
    outline: none;
}

ul {
    list-style: none;
}

a {
	color: $core-accent;
	&:hover {
        transition: all 0.3s ease 0s;
		color: rgb(218, 27, 92);
	}
}

p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 24px;
}

// code snippet tag
pre {
    background: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
    color: #1f1a47;
    text-align: left;
    letter-spacing: 0px;
    margin: 25px 0 10px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18.72px;
}

h4 {
    font-size: 16px;
}

h5 {
	font-size: 13.28px;
}

h6 {
	font-size: 10.72px;
}

#overlay{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    background: hsla(0,0%,100%,.8);
    z-index: 10000;
}

#body-inner {
    min-width: 738px;
}

.highlightable {
    padding: 16px 0 16px;
}

#body {
    margin-left: 255px;

    .padding {
        padding-top: 15px;
        padding-left: 55px;
        padding-bottom: 33px;
        max-width: 1000px;
        margin: 0 auto;
    }
}

body {
    font-family: Roboto;
    letter-spacing: 0px;

    #breadcrumbs {
        padding-left: 0;

        span {
            padding: 0 0rem;
        }
    }

    a {
        color: rgb(218, 27, 92);
    
        a:hover {
            transition: all 0.3s ease 0s;
            color: rgb(0, 0, 0);
        }
    }
}

#header {
    color: #fff;
    text-align: left;
    padding-bottom: 0;
    margin: 0 .7em;
}

#sidebar {
    background-color: white;
    width: 255px;
    border-right: 1px solid #d6d9db;
    min-width: 252px;

    .title-img {
        max-width: 120px;
     }

        a {
            line-height: 20px;
            font-size: 14px;
            min-height: 28px;
            color: #555;
            &:hover {
                transition: all 0.3s ease 0s;
                color:  rgb(218, 27, 92);
            }
            &.subtitle {
                color: #555;
            }       
        }       
}

#sidebar ul.topics {
    margin: 0 1.8em;
}

#sidebar ul li.visited > a .read-icon {
    display: none;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: #ffffff;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li.active > a {
    background: #fff;
    color: #DA1B60 !important;
}

#sidebar ul.topics > li > a {
    line-height: 36px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #1f1a47;
}

// top nav header SCSS
#main-header {
    border-bottom: 1px solid #d6d9db;
    max-width: 1050px;
    margin: 0 auto;

    li, a, button{
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }
    
    .nav-links {
        list-style: none;
        padding-left: 790px;
    }

    nav ul {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .nav-links li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav-links li a {
        transition: all 0.3s ease 0s;
        color: #1f1a47;
    }
    
    .nav-links li a:hover {
        color: rgb(218, 27, 92);
    }
    
    button {
        background-color: rgb(218, 27, 92);
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    
    .cta-button {
        color: white;
        font-weight: 400;
    }
    
    button:hover {
        background-color: rgb(170, 28, 75);
    }

    #tntsearch-wrapper {
        padding-left: 40px;
    }
    
      .tntsearch-form {
        float: left;
        font-size: 17px;
        border: none;
        position: absolute;
        top: 0;
        width: 768px;
        z-index: 10020;
    
        textarea, input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week], select[multiple=multiple] {
            background-color: transparent;
            border: none;
            box-shadow: none;
        }
    
      input {
          color: #3C4265;
          background: white;
    
          @include placeholder {
            color: #697386;
        }
      }
    }
    .tntsearch-by {
        color: #3c4257;
        position: absolute;
        padding-top: 3px;
        padding-left: 20px;
    }

    .tntsearch-results {
        visibility: hidden;
        position: initial;
        top: -10px;
        padding: 10px;
        width: 768;
        min-height: 58px;
        background: rgb(255, 255, 255);
        box-shadow: 0 15px 35px 0 rgba(50,50,93,.1), 0 5px 15px 0 rgba(0,0,0,.07);
        border-radius: 0 0 4px 4px;

        p {
            font-size: 13px;
        }

        li {
            display: block;
            margin-bottom: 10px;

            p {
                color: #555;
            }

            .title {
                h5 {
                    color: rgb(218, 27, 92);
                }
            }
        }

        li:hover{
            background: #f5fbff;
        }

        .results {
            list-style: none;
        }
    }
}