@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

// @font-face {
//     font-family: 'Single Product Webicons Regular';
//     src: url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/singleproductwebicons-regular.eot?695");
//     src: url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/singleproductwebicons-regular.eot?%23iefix&695") format("embedded-opentype"),url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/singleproductwebicons-regular.woff?695") format("woff"),url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/singleproductwebicons-regular.ttf?695") format("truetype"),url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/singleproductwebicons-regular.svg%23singleproduct_web_iconsregular?695") format("svg");
//     font-weight: normal;
//     font-style: normal
// }

// @font-face {
//     font-family: 'social-icons';
//     src: url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/socicon-webfont.eot?695");
//     src: url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/socicon-webfont.eot?%23iefix&695") format("embedded-opentype"),url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/socicon-webfont.woff?695") format("woff"),url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/socicon-webfont.ttf?695") format("truetype"),url("//cdn.shopify.com/s/files/1/0246/4048/7476/t/4/assets/socicon-webfont.svg%23sociconregular?695") format("svg");
//     font-weight: normal;
//     font-style: normal
// }

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding-left: 0px;
}

a {
	color: $core-accent;
	&:hover {
        transition: all 0.3s ease 0s;
		color: rgb(218, 27, 92);
	}
}

p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 24px;
}

// code snippet tag
pre {
    background: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
    color: #1f1a47;
    text-align: left;
    letter-spacing: 0px;
    margin: 25px 0 10px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18.72px;
}

h4 {
    font-size: 16px;
}

h5 {
	font-size: 13.28px;
}

h6 {
	font-size: 10.72px;
}

#overlay{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    background: hsla(0,0%,100%,.8);
    z-index: 10000;
}

#body-inner {
    min-width: 738px;
}

.highlightable {
    padding: 16px 0 16px;
}

#body {
    margin-left: 255px;

    .padding {
        padding-top: 15px;
        padding-left: 55px;
        padding-bottom: 33px;
        max-width: 1000px;
        margin: 0 auto;
    }
}

body {
    font-family: Roboto;
    letter-spacing: 0px;

    #breadcrumbs {
        padding-left: 0;

        span {
            padding: 0 0rem;
        }
    }

    a {
        color: rgb(218, 27, 92);
    
        a:hover {
            transition: all 0.3s ease 0s;
            color: rgb(0, 0, 0);
        }
    }
}

#header {
    color: #fff;
    text-align: left;
    padding-bottom: 0;
    margin: 0 .7em;
}

#sidebar {
    background-color: white;
    width: 255px;
    border-right: 1px solid #d6d9db;
    min-width: 252px;
    position: none;

    .title-img {
        max-width: 120px;
    }
    a {
        line-height: 20px;
        font-size: 14px;
        min-height: 28px;
        color: #555;
        
        &:hover {
            transition: all 0.3s ease 0s;
            color:  rgb(218, 27, 92);
        }
        
        &.subtitle {
            color: #555;
        }       
    }       
}

#sidebar ul.topics {
    margin: 0 1.8em;
}

#sidebar ul li.visited > a .read-icon {
    display: none;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: #ffffff;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#sidebar ul li.active > a {
    background: #fff;
    color: #DA1B60 !important;
}

#sidebar ul.topics > li > a {
    line-height: 36px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #1f1a47;
}

// top nav header SCSS
#main-header {
    border-bottom: 1px solid #d6d9db;

    .search-bar-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    nav {
        max-width: 1000px;
        margin: 0 auto;
    }

    li, a, button{
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }
    
    nav ul {
        list-style: none;
        text-align: right;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    
    .nav-links li {
        display: inline-block;
        padding: 7px 20px;
    }
    
    .nav-links li a {
        transition: all 0.3s ease 0s;
        color: #1f1a47;
    }
    
    .nav-links li a:hover {
        color: rgb(218, 27, 92);
    }
    
    button {
        background-color: rgb(218, 27, 92);
        cursor: pointer;
        transition: all 0.3s ease 0s;
        padding: 10px;
        font-size: 13px;
    }
    
    .cta-button {
        color: white;
        font-weight: 400;
    }
    
    button:hover {
        background-color: rgb(170, 28, 75);
    }
    
    #tntsearch-wrapper {
        padding-left: 45px;
        margin-top: 2px;
    }
    
      .tntsearch-form {
        float: left;
        font-size: 17px;
        border: none;
        position: absolute;
        top: 0;
        width: 768px;
        z-index: 10020;
    
        textarea, input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], input[type=color], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week], select[multiple=multiple] {
            background-color: transparent;
            border: none;
            box-shadow: none;
        }
    
        .form-input {
            padding-left: 10px;
        }
    
      input {
          color: #3C4265;
          background: white;
    
          @include placeholder {
            color: #697386;
        }
      }
    }
    .tntsearch-by {
        color: #3c4257;
        position: absolute;
        padding-top: 6px;
        padding-left: 28px;
        .fa {
            font-size: smaller;
        }
    }
    
    .tntsearch-results {
        visibility: hidden;
        position: relative;
        top: -15px;
        //width: 768;
        min-height: 58px;
        background: rgb(255, 255, 255);
        box-shadow: 0 15px 35px 0 rgba(50,50,93,.1), 0 5px 15px 0 rgba(0,0,0,.07);
        border-radius: 0 0 4px 4px;
    
        p {
            font-size: 13px;
        }
    
        li {
            display: block;
            padding: 10px 15px 8px 15px;
            margin-bottom: 10px;
    
            p {
                color: #555;
                margin: 0;
            }
    
            .title {
                margin: 0;
                text-decoration: none;
                display: inline-block;
                margin-bottom: 5px;
                margin-right: 5px;
                h5 {
                    color: rgb(218, 27, 92);
                }
            }
        }
    
        li:hover{
            background: #edf7ff;
        }
    
        .results {
            list-style: none;
        }
    }
    
}

#footer-section {
    margin: 0;

    .footer-wrapper{
        color: #fff;
        background-color: #96a9d7;
        transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

       
        background-image: url(//cdn.shopify.com/s/files/1/0246/4048/7476/files/Footer2-min_1920x1920.png?v=1560925019);
        background-position: 50% 50%;
        background-repeat: no-repeat;            
        background-size: cover;
        

        a {
            color: #fff;
        }
    }

    .main-footer{
        max-width: 1020px;
        padding: 50px 30px;
        margin: 0 auto;
        font-size: 0.875rem;

        .footer-title{
            margin-top: 0;
            margin-bottom: 30px;
            color: #fff;
            text-align: left;
            text-transform: uppercase;
            font-size: 14px;
        }

        .footer-link-list{
            float: left;
            padding-right: 30px;
            margin-bottom: 50px;
            width: 27.5%;

            .footer-link-list.social-icons a {
                padding-left: 30px;
                position: relative;

                a:before{
                    font-family: 'social-icons';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -7px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1;
                    font-size: 15px;
                    -webkit-font-smoothing: antialiased;
                }

                .facebook a:before {
                    content: "b";
                }

                .twitter a:before {
                    content: "a";
                }

                .pinterest a:before {
                    content: "d";
                }

                .instagram a:before {
                    content: "\e902";
                }

                .youtube a:before {
                    content: "r";
                }
            }

            ul{
                margin: 0;
                padding: 0;
                list-style: outside none;

                li{
                    margin: 12px 0;
                }
            }


        }

        .spread-the-word{
            max-width: 45%;
            padding-left: 30px;
            float: right;
            margin-bottom: 60px;

            p{
                margin-bottom: 25px;
            }

            .share-icon {
                display: inline-block;
                padding: 0 10px;
                margin: 0 8px 15px 0;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 35px;
                color: #96a9d7;
                background-color: rgba(255,255,255,0.9);
                border-radius: 5px;

                .icon-tweet::before{
                    content: '\E201';
                }

                .icon-like:before {
                    content: '\E202';
                }

                .icon-pin:before {
                    content: '\E203';
                }

                .icon-plus:before {
                    content: '\E205';
                }

                .icon-fancy:before {
                    content: '\E206';
                }

                .share-icon::before{
                    font-family: "Single Product Webicons Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    margin-right: 8px;
                }

                .share-icon:last-child{
                    margin-right: 0;
                }
            }
        }

        .copyright {
            clear: both;
            color: rgba(255,255,255,0.5);

            p{
                margin: 0;
            }
        }
    }
}